<div *ngIf="!list">

   <span #loading>

      <ng-content select="[loading]"></ng-content>
   </span>

   <span *ngIf="!loading.innerHTML.trim()">
       
       <img 
             
          src="https://media0.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif?cid=ecf05e47r3wmqvplverkiurr6o4a8bw5rbm7qtifwafps135&rid=giphy.gif&ct=g" alt="loading..."
       >
   </span>

</div>



<!-- Evitar error si la variable no esta definida se usa ? -->
<div *ngIf="list?.length === 0">

    <span #empty>

      <ng-content select="[empty]"></ng-content>
    </span>

    <span *ngIf="!empty.innerHTML.trim()">

        There are no records to display.
    </span>
</div>


<ng-container *ngIf="list && list.length > 0">

  <ng-content select="[content]"></ng-content>
    

</ng-container>
